---
title: "{{ title }}"
collection: publications
permalink: /publication/{{ paper_file_name }}
excerpt: '{{ abstract }}'
date: {{ date }}
venue: '{{ journal }}'
paperurl: '{{ url }}'
citation: '{{ authors_list}}. ({{ year }}). &quot;{{ title }}.&quot; <i>{{ journal }}</i>. {{ year }}, {{ volume }}({{ number }}), {{ article_number }}.'
---
{{ abstract }}

[Download paper here]({{ url }})

Recommended citation: {{ authors_list}}. ({{ year }}). &quot;{{ title }}.&quot; <i>{{ journal }}</i>. {{ year }}, {{ volume }}({{ number }}), {{ article_number }}.